# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and Cache folders
data/
ag_news_cache/
learning_practice/
tests/

# Environment files (if you have them)
.env
.venv
env/
venv/

# IDE files
.vscode/
.idea/
